
/** START OF ABOUT PAGE **/
#about_page {
    background-color: rgb(71, 36, 12);
}
.about_page_header{ 
    color:black;
}

.about_descptn{
    color: whitesmoke;
}
#about_description{
    color: whitesmoke;
}
/** END OF ABOUT PAGE **/

/** START OF PORTFOLIO PAGE **/
.site-main .project-area {
    padding: 4rem 0;
}

#project-h1 {
    text-align: center;
    font-weight:bolder; 
}

#project-h1-2 {
    text-align: center;
    font-weight:bolder; 
}
/* END OF PORTFOLIO PAGE */

